.ngdialog.ngdialog-theme-default .ngdialog-content {
     width: 800px;
}

.ngdialog.ngdialog-theme-default.width300 .ngdialog-content {
     width: 300px;
}

.ngdialog.ngdialog-theme-default.width350 .ngdialog-content {
     width: 350px;
}

.ngdialog.ngdialog-theme-default.width400 .ngdialog-content {
     width: 400px;
}

.ngdialog.ngdialog-theme-default.width450 .ngdialog-content {
     width: 450px;
}

.ngdialog.ngdialog-theme-default.width500 .ngdialog-content {
     width: 500px;
}

.ngdialog.ngdialog-theme-default.width550 .ngdialog-content {
     width: 550px;
}

.ngdialog.ngdialog-theme-default.width600 .ngdialog-content {
     width: 600px;
}

.ngdialog.ngdialog-theme-default.width650 .ngdialog-content {
     width: 650px;
}

.ngdialog.ngdialog-theme-default.width700 .ngdialog-content {
     width: 700px;
}

.ngdialog.ngdialog-theme-default.width750 .ngdialog-content {
     width: 750px;
}

.ngdialog.ngdialog-theme-default.width800 .ngdialog-content {
     width: 800px;
}

.ngdialog.ngdialog-theme-default.width850 .ngdialog-content {
     width: 850px;
}

.ngdialog.ngdialog-theme-default.width900 .ngdialog-content {
     width: 900px;
}

.ngdialog.ngdialog-theme-default.width950 .ngdialog-content {
     width: 950px;
}

.ngdialog.ngdialog-theme-default.width1000 .ngdialog-content {
     width: 1000px;
}

.ngdialog.ngdialog-theme-default.width1200 .ngdialog-content {
     width: 1200px;
}

